//  Migration Styles

// Template styling resets

#migrated {
    .template__content {
        padding-bottom: 0;
    }
    
    [class*="row--gallery"] {

        .gallery-list {
            .display-flex;
            .flex-wrap(wrap);
            max-width: 100%;
        }

        .gallery-item {
            background: transparent;
            border: none;
            padding: 0;
            transform: translateY(0)!important;
            width: 25%;
            z-index: 0;
        }

        .gallery__image-link {
            position: relative;
        }

        &:not(.row--layout-gallery-nopad) .gallery-item {
            margin: 0 .75%!important;
            width: 23.5%;

            &:first-child,
            &:last-child {
                margin: 0!important;
            }
        }
    }

    // Hides the caption for the logo section
    [class*="row--logos"] .gallery__caption {
        display: none;
        visibility: hidden;
    }

    // Hides the row overlay bars as the template is contained
    .row-overlay:before,
    .row-overlay:after {
        display: none;
    }
}

// Re-add the reset styles

[data-name="row"] .row:not(.row--width-no-padding) .row__container {
    margin: 0 auto;
    max-width: 1400px;
    width: ~"calc(100% - 240px)";

    @media @desktop-wide {
        width: 80%;
    }
}