{% extends "layout.twig" %}
{% block content %}
{% include "includes/hero.twig" %}
    
<section class="page page--home">
    <div id="main-scroll" class="template__content">
		{{widget('pagetitle', 'title', {})|raw}}
		{{zone('main')|raw}}
    </div>
</section>

{% endblock %}