{% extends "layout.twig" %}

{% block content %}
<!-- Page Content Start -->
{% include "includes/header.twig" %}
{% include "includes/hero.twig" %}
    
<section class="page page--home">
    <!-- Zone Content Start -->
    <div id="main-scroll" class="template__content">
		{{zone('main')|raw}}
    </div>
    <!-- Zone Content End -->
</section>

<!-- Page Content End -->
{% endblock %}

{% block bodyscripts %}
<!-- Body Scripts Start -->
<script src="{{asset('js/hero.js')}}"></script>
<script src="{{asset('js/smooth-scroll.js')}}"></script>
<!-- Body Scripts End -->
{% endblock %}