// Forms

.widget[data-name="signupform"],
.widget[data-name="contactform"],
.widget[data-name="advancedcontactform"] {
	background: @color__form--background;

	.style--light & {
		background-color: @color__form--background;
	}

	.style--accent & {
		background-color: @color--accent;
	}

	.style--dark & {
		background-color: @color--dark;
	}

	.style--background-image & {
		background-color: transparent;
	}
}

.form {
	margin: 0 auto;

	@media @tablet-horizontal {
		max-width: 100%;
	}
}

// Legend

.form .legend {
	.paragraph;
	padding: 0 0 0.5em;
	margin-bottom: 0;
	color: @color__form-legend--text;
	background-color: transparent;

	.style--light & {
		color: @color__form-legend--text;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

// Form

.form .form-group {
	margin-bottom: 1em;

	&.js-recaptcha {
		margin-bottom: 0;
	}
}

// Label

.form label {
	margin: 0 0 0.3em;
	line-height: 1.5em;
}

// Text Inputs

input,
input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea,
select,
.advancedcontactform__select {
	padding: 0 0.6em;
	background-color: @color__form--background;
	border: 2px solid fade(@color__form--border, 50%);
	letter-spacing: unit(@font__p--letter-spacing*0.05, em);
	font-size: @font__p--font-size;
	color: @color__p--text;
	min-height: 50px;
    height: auto !important;
	.transition();
	.border-radius(0);
	.appearance(none);
	
	&:hover,
	&:focus {
		border-color: @color__form--border;
		.box-shadow(none);
	}
}

textarea {
	min-height: 150px;
}

input[type="search"],
input[type="email"] {
	@media @mobile {
		margin-bottom: 1em;
	}

	.responsivecolumns & {
		margin-bottom: 1em;
	}

	.widget__profile & {
		margin-bottom: 1em;
	}
}

// Placeholders

::-webkit-input-placeholder {
   color: @color-text--faded;
}

:-moz-placeholder {
   color: @color-text--faded;
}

::-moz-placeholder {
   color: @color-text--faded;
}

:-ms-input-placeholder {
   color: @color-text--faded;
}

input:focus {
	&::-webkit-input-placeholder {
		color: transparent;
	}

	&:-moz-placeholder {
		color: transparent;
	}

	&::-moz-placeholder {
		color: transparent;
	}

	&:-ms-input-placeholder {
		color: transparent;
	}
}

// Radio Buttons and Checkboxes

.widget .form {
	.option-list,
	[class*="form-group--terms"] {
		margin-top: 0;
		margin-left: 0;

		.label--radio,
		.label--checkbox,
		label[for*="input--terms"],
		label[for*="input--terms"] span a.form__link {
			.paragraph;
			padding: 0;
			margin: 0.5em 0;
			line-height: 1.5em;
		}

		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			height: 100% !important;
			.transition();

			&:hover + label:before {
				border: 2px solid darken(@color__form--border, 8%);
				.transition();

				.style--light & {
					border-color: darken(@color__form--border, 8%);
				}

				.style--accent & {
					border-color: @contrast--accent;
				}

				.style--dark & {
					border-color: @contrast--dark;
				}
			}

			&:checked + label:before {
				border: 2px solid @color__form--border;
				.transition();

				.style--light & {
					border-color: @color__form--border;
				}

				.style--accent & {
					border-color: @contrast--accent;
				}

				.style--dark & {
					border-color: @contrast--dark;
				}
			}

			&:checked + label:after {
				opacity: 1;
				.transition();
			}

			&:focus + label:before,
			&:focus:checked + label:before {
				border: 2px solid @color__form--border;
				.transition();

				.style--light & {
					border-color: @color__form--border;
				}

				.style--accent & {
					border-color: @contrast--accent;
				}

				.style--dark & {
					border-color: @contrast--dark;
				}
			}
		}

		.option-item--radio,
		.option-item--checkbox,
		&[class*="form-group"] {
			position: relative;
			width: 100%;
			margin-bottom: 0;
			padding: 0;

			label {
				display: block;
				position: relative;
				cursor: pointer;
				.transform-scale(1);
				word-break: break-word;
				margin-left: 1em * 2.5;
				min-height: 1em;
				text-align: left;
				
				&:before,
				&:after {
					cursor: pointer;
					border-radius: 50%;
				}

				&:before {
					content: ' ';
					position: absolute;
					top: 0.1em;
					left: -2.5em;
					width: 1.25em;
					height: 1.25em;
					min-width: 1.25em;
					max-height: 1.25em;
					background-color: @color__form--background;
					border: 2px solid fade(@color__form--border, 50%);
					.border-radius(0);

					.style--light & {
						background-color: @color__form--background;
						border-color: fade(@color__form--border, 50%);
					}

					.style--accent & {
						background-color: @color--accent;
						border-color: fade(@contrast--accent, 50%);
					}

					.style--dark & {
						background-color: @color--dark;
						border-color: fade(@contrast--dark, 50%);
					}
				}

				&:after {
					opacity: 0;
					position: absolute;
					top: 0.1em;
					left: -2.5em;
					height: 1.25em;
					width: 1.25em;
					.transition(opacity, 0.1s);
					line-height: 1.5em;
				}
			}
		}

		.option-item--radio {
			label {
				&:before {
					.border-radius(1em);
				}
				
				&:after {
					content: ' ';
					.border-radius(1em);
					background-color: @color__form--border;
					.transform-scale(0.5);

					.style--light & {
						background-color: @color__form--border;
					}

					.style--accent & {
						background-color: @contrast--accent;
					}

					.style--dark & {
						background-color: @contrast--dark;
					}
				}
			}
		}

		.option-item--checkbox,
		&[class*="form-group"] {
			label {
				&:after {
					border: 0;
					content: '\f00c';
					margin-top: 0;
					font-family: 'FontAwesome', sans-serif;
					line-height: 1.25em;
					text-align: center;
					transform: none;
					color: @color__form--border;

					.style--light & {
						color: @color__form--border;
					}

					.style--accent & {
						color: @contrast--accent;
					}

					.style--dark & {
						color: @contrast--dark;
					}
				}
			}
		}
	}
}

// Dropdowns

.select-wrap {
	position: relative;

	&:after {
		position: absolute;
		right: 0.5em;
		top: 50%;
		content: '\f107';
		margin-top: -0.5em;
		font-family: 'FontAwesome', sans-serif;
		display: inline-block;
		height: 1em;
		line-height: 1em;
		text-align: center;
		font-size: 1.5em;
		color: @color__p--text;

		@media @mobile {
			font-size: 2em;
		}
	}
}

select,
.advancedcontactform__select {
	padding: 0 2em 0 0.6em;
	width: 100%;

	@media @mobile {
		padding: 0 2.7em 0 0.6em;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		background-color: @color__container--background;
		color: @color__p--text;
	}
}

// Error Messages

.form {
	input.error {
		border: none !important;
	}
	
	textarea.error {
		border: 1px solid @message-color--error !important;
	}
	
	.form-group {
		.error {
			border-bottom: 2px solid @message-color--error !important;
			
			&:focus {
				.box-shadow(none);
			}
		}
	}
}

// Form Group Button

.form-group {
	.button {
		word-break: break-word;

		@media @mobile {
			width: 100%;
		}
	}
}

// Sign Up Form

.signupform {
	.form-body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.responsivecolumns & {
			display: block;
		}
	}

	.form-group {
		margin-bottom: 0;

		@media @mobile {
			margin-bottom: 1em;
		}

		&:first-child {
			flex-grow: 1;
			padding-right: 0.5em;

			@media @mobile {
				padding-right: 0;
			}

			.widget__profile &,
			.responsivecolumns & {
				display: block;
				padding-right: 0;
				width: 100%;
				height: auto;
			}
		}

		input {
			@media @mobile {
				margin-bottom: 1em;
			}
		}
		
		.button {
			@media @mobile {
				width: 100%;
			}
		}
	}

	label {
		display: none;
	}
}

// Registration Form

.widget__userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		label {
			margin-top: 1em;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}

		.userregistrationbtn {
			margin: 1em 0 0;
		}
	}
}