// ----------------------------------------
// LookBook: LESS > Widgets > Image
// ----------------------------------------
//
// #Image
// #Caption
//
// ----------------------------------------

// ------------------------------
// #Image
// ------------------------------

.widget[data-name="image"] {
	.paragraph;
	.imagewidget__image-link {
	    width: 100%;
	}
	
	.widget[data-name="responsivecolumns"] .responsivecolumns .columns-two-left &,
	.widget[data-name="responsivecolumns"] .responsivecolumns .columns-two-right & {
		width: 790px;
		
		.image {
			border: 10px solid @color__container--background;
			background-color: @color__body--background;
		}
	}
	
	.responsivecolumns .columns-two-left & {
		margin-left: -300px;
	}
	
	.responsivecolumns .columns-two-right & {
		margin-right: -300px;
	}
	
	.responsivecolumns & {
		@media @mobile {
			max-width: 100%;
		}
	}
}



// ------------------------------
// #Caption
// ------------------------------

.imagewidget {
	.caption {
		margin: 1em 0 0;
	}
	
	.image-title {
		.heading--3;
		padding: 0.5em 0;
	}

	.image-description {
		.paragraph;
	}
}