// Profile

.profile {
	h1, h2, h3, p, a {
	 	.paragraph;
		position: relative;
		padding: 0;
	}
}

// Company Address

.address p {
	padding: 0;
}

// Twitter

.profile {
	.twitter__tweet-wrap {
		margin-left: 55px;
		padding-left: 2em;
	}
		
	.twitter__tweet-item {
		width: 100%;
		margin: 0;
		
		&:last-child {
			margin-bottom: 2em;
		}
	}
	
	.twitter__avatar {
		margin: 0 1em 0 0;
	}
	
	a.twitter__account-link {
		padding: 0 0 0.3em;
		min-height: 0;
		font-weight: 600;
	}
	
	.tweet-content {
		margin-bottom: 2em;
	}
	
	.tweet-metadata {
		position: static;
		padding: 0.5em 0 0 0;
	}
}

// Signup Form

.profile {
	.form {
		max-width: 100%;
		width: 100%;
	}
}

// Social Icons
		
.template__header {
	.profile {
		.social-item {
			margin-right: 16px;

			@media @mobile {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
		
		.social-link:before {
			width: auto;
			background-color: transparent;
			color: @color__companyname--text;
		}
	}
}