// Widgets

section {
	> .widget {
		width: 90%;
		max-width: @layout-max-width;
		margin: 0 auto;
		border: solid @color__navigation--border;
		border-width: 0 3px;
		
		@media @tablet {
			width: 95%;
		}
		
		@media @mobile {
			width: auto;
		}

		&:first-of-type {
			border-top: 3px solid @color__navigation--border;
		}
	}

	> .widget:not([data-name="row"]) {
		margin: 0 auto;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 5%;
		padding-right: 5%;
		
		@media @tablet {
			width: auto;
			margin-left: 2.5%;
			margin-right: 2.5%;
			padding-left: 5%;
			padding-right: 5%;
		}
		
		@media @mobile {
			margin-left: 0;
			margin-right: 0;
		}
		
		&:first-of-type {
			padding: 2em 0 0;
			width: 90%;
			max-width: @layout-max-width;
			margin: 0 auto;
		
			@media @tablet {
				width: 95%;
			}
		
			@media @mobile {
				width: auto;
			}
		
			.responsivecolumns & {
				width: auto;
			}
		}

		&.widget[data-name="blogpostlist"]:first-of-type,
		&.widget[data-name="ecomproductslist"]:first-of-type,
		&.widget[data-name="ecomproduct"]:first-of-type,
		&.widget[data-name="ecombasketsummary"]:first-of-type {
			padding-left: 140px;
			padding-right: 140px;
			
			@media @desktop-wide {
				padding-left: 10%;
				padding-right: 10%;
			}
			
			@media @tablet {
				padding-left: 2.5%;
				padding-right: 2.5%;
			}
			
			@media @mobile {
				padding-left: 5%;
				padding-right: 5%;
			}
		
			.responsivecolumns & {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	
	.widget[data-widget-type="pagetitle"] {
		margin: 0 auto;
		padding-top: 0;
		max-width: 1400px;
		width: 90%;
		border: solid @color__navigation--border;
		border-width: 3px 3px 0;
		padding-left: 140px;
		padding-right: 140px;
		
		@media @desktop-wide {
			padding-left: 10%;
			padding-right: 10%;
		}
		
		@media @tablet {
			padding-left: 2.5%;
			padding-right: 2.5%;
			width: 95%;
		}
		
		@media @mobile {
			padding-left: 5%;
			padding-right: 5%;
			width: auto;
		}
		
		+ section > .widget {
			&:first-of-type {
				padding: 0;
				border-top: none;
			}
		}

		&.bk-tpl-hidden	+ section > .widget {
			&:first-of-type {
				padding-top: 2em;
				border-top: 3px solid @color__navigation--border;
			}

			&[data-name="row"]:first-of-type {
				padding-top: 0;
			}
		}
	}
	
	.page--home & {
		.widget[data-widget-type="pagetitle"] + section > .widget {
			&:first-of-type {
				padding-top: 0;
				border-top: none;
				padding-left: 140px;
				padding-right: 140px;
				
				@media @desktop-wide {
					padding-left: 10%;
					padding-right: 10%;
				}
				
				@media @tablet {
					padding-left: 2.5%;
					padding-right: 2.5%;
				}
				
				@media @mobile {
					padding-left: 5%;
					padding-right: 5%;
				}

				#migration & {
					padding-top: 0;
				}
			}
		}
	}
}

.template__content {
	position: relative;
	padding-bottom: 2em;
		
	@media @mobile {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	
	&:after {
		content: '';
		z-index: 2;
		top: 100%;
		left: 0;
		right: 0;
		display: block;
		margin: -1em auto 2em;
		width: 90%;
		max-width: @layout-max-width;
		height: 2em;
		border: solid @color__navigation--border;
		border-width: 0 3px 3px;
		background-color: @color__container--background;
		
		@media @tablet {
			width: 95%;
		}
		
		@media @mobile {
			width: auto;
		}
	}
	
	.widget[data-widget-type="feature"] + section & {
		.widget {
			&:first-of-type {
				padding-top: 2em;
				border-top: none;
				padding-left: 140px;
				padding-right: 140px;
				
				@media @desktop-wide {
					padding-left: 10%;
					padding-right: 10%;
				}
				
				@media @tablet {
					padding-left: 2.5%;
					padding-right: 2.5%;
				}
				
				@media @mobile {
					padding-left: 5%;
					padding-right: 5%;
				}
			}

			&[data-name="row"] .widget:first-of-type {
				padding-top: 0;
			}
			
			&[data-name="row"],
			&[data-name="gallery"],
			&[data-name="responsiveslideshow"],
			&[data-name="map"],
			&[data-name="youtube"],
			&[data-name="blogpost"] {
				&:first-of-type {
					padding-top: 0;
				}
			}
		}
	}
	
	.widget[data-widget-type="feature"] + .page & .widget[data-widget-type="pagetitle"].bk-tpl-hidden + section > .template__content {
		> .widget {
			&:first-of-type {
				padding-top: 2em;
				border-top: none;
			}
			
			&[data-name="row"],
			&[data-name="gallery"],
			&[data-name="responsiveslideshow"],
			&[data-name="map"],
			&[data-name="youtube"],
			&[data-name="blogpost"] {
				&:first-of-type {
					padding-top: 0;
				}
			}
		}
	}
	
	.widget[data-widget-type="feature"].bk-tpl-hidden + section &,
	.widget[data-widget-type="feature"].bk-tpl-hidden + .page & .widget[data-widget-type="pagetitle"].bk-tpl-hidden + section {
		> .widget {
			&:first-of-type {
				padding-top: 2em;
				border-top: 3px solid @color__navigation--border;
			}

			&[data-name="row"]:first-of-type {
				padding-top: 0;
			}
		}
	}
}

// Full Width Widgets

.template__content >,
.template__content section > {
	.widget[data-name="gallery"],
	.widget[data-name="responsiveslideshow"],
	.widget[data-name="map"],
	.widget[data-name="youtube"],
	.widget[data-name="blogpost"] {
		position: relative;
		width: 100%;
		max-width: 1600px;
		border-width: 0;
		padding: 0;
		background-color: transparent;
	}
	
	.widget[data-name="gallery"],
	.widget[data-name="responsiveslideshow"],
	.widget[data-name="map"],
	.widget[data-name="youtube"],
	.widget[data-name="blogpost"] {
		&:before, &:after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 90%;
			max-width: @layout-max-width;
			border: solid @color__navigation--border;
			border-width: 0 3px;
			background-color: @color__container--background;
			height: 2em;
		
			@media @tablet {
				width: 95%;
			}
			
			@media @mobile {
				width: auto;
			}
		}
		
		&:first-child {
			&:before {
				content: none;
			}
		}
		
		&:last-child {
			&:after {
				content: none;
			}
		}
	}
	
	.widget[data-name="gallery"] {
		z-index: 5;
		
		&:before {
			height: 4em;
		
			@media @mobile {
				height: 6em;
			}
		}
		
		&:after {
			height: 2em;
		
			@media @mobile {
				height: 4em;
			}
		}
		
		&:first-child {
			&:before {
				content: '';
				height: 2em;
		
				@media @mobile {
					height: 4em;
				}
			}
		}
		
		&:last-child {
			&:after {
				content: '';
				height: 4em;
		
				@media @tablet {
					height: 6em;
				}
			}
		}
	}
}

// Responsive Columns

.template__content,
.template__content section {
	.responsivecolumns {
		.widget {
			width: auto;
			max-width: none;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
		}
		
		.widget[data-name="gallery"],
		.widget[data-name="responsiveslideshow"],
		.widget[data-name="map"],
		.widget[data-name="youtube"],
		.widget[data-name="blogpost"] {
			&:before, &:after {
				content: none;
			}
		}

		form,
		.widget[data-name="gallery"] li.gallery-item,
		.widget[data-name="responsiveslideshow"],
		.widget[data-name="map"],
		.widget[data-name="youtube"],
		.widget[data-name="blogpostlist"] .post-article,
		.widget[data-name="ecomproductslist"] li.product-item,
		.widget[data-name="ecomfeaturedproducts"] li.product-item {
			opacity: 1;
		}
		
		.widget[data-name="gallery"] {
			margin-top: 4em;
			margin-bottom: 4em;

			@media @mobile {
				margin-top: 4em;
				margin-bottom: 4em;
			}

			&:first-child {
				margin-top: 0;

				@media @mobile {
					margin-top: 2em;
				}
			}

			&:last-child {
				@media @mobile {
					margin-bottom: 4em;
				}
			}
		}
	}
}

// Line Widget

.template__content {
	&, section, .responsivecolumns section.column {
		> .widget[data-name="line"] {
			padding: 2em 0;

			[data-name="row"] & {
				padding: 0;
			}
		}
	}
}

.line {
	line-height: 0;
	font-size: 0;
}

hr.line__rule {
	height: 3px;
	background-color: @color__navigation--border;

	.style--light & {
		background-color: @color__navigation--border;
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 65%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 65%);
	}
}