<!-- Footer -->
<footer class="template__footer">

	<div class="container">
		{{widget('content', 'footercontacttitle', {content: '<h3>Want to work with me?</h3>'})|raw}}
		{{widget('button', 'footerbutton', { 'text': 'Get in touch', 'align': 'widget-align-center', 'action': 'internal', 'url': '/contact'})|raw}}
		{{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons' })|raw}}
		{{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>

</footer>
