<!-- Footer -->
<footer class="template__footer">

	<div class="container">
		{{widget('button', 'footerbutton', { 'text': 'Get in touch', 'align': 'widget-align-center', 'action': 'internal', 'url': '/contact'})|raw}}
		{{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons' })|raw}}
		{{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>

</footer>
